<!-- Main modal -->
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class=" update_exchnage_rates_modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-4xl max-h-full mx-auto my-14" [formGroup]="ECGroup" >
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Posodobi podatke za Tečajno Listo 
                </h3>
                <button (click)="closeUpdateModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="static-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 grid grid-cols-3 gap-4">
                <div>
                    <label for="ec_ident" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ident</label>
                    <input type="text" id="ec_ident" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="ident" />
                    @if(ECGroup.get('ident')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos identa je obvezen 
                        </p>
                    }
                </div>
                <div>
                    <label for="ec_currencie"  (click)="toggleComboBoxMenu('ec_currencie_menu')"  class=" dark:text-white block text-sm/6 font-medium text-gray-900">Valuta</label>
                    <div class="relative mt-2">
                      <input [value]="selectedCurrencieItem.title" id="ec_currencie" type="text" class=" dark:bg-gray-700 dark:text-white block w-full rounded-md bg-white py-1.5 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" role="combobox" aria-controls="options" aria-expanded="false">
                      <button (click)="toggleComboBoxMenu('ec_currencie_menu')" type="button" class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-hidden">
                        <svg class="size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M10.53 3.47a.75.75 0 0 0-1.06 0L6.22 6.72a.75.75 0 0 0 1.06 1.06L10 5.06l2.72 2.72a.75.75 0 1 0 1.06-1.06l-3.25-3.25Zm-4.31 9.81 3.25 3.25a.75.75 0 0 0 1.06 0l3.25-3.25a.75.75 0 1 0-1.06-1.06L10 14.94l-2.72-2.72a.75.75 0 0 0-1.06 1.06Z" clip-rule="evenodd" />
                        </svg>
                      </button>
                  
                      <ul class="ec_currencie_menu hidden absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base ring-1 shadow-lg ring-black/5 focus:outline-hidden sm:text-sm" id="options" role="listbox">
                        @for(currencie of CurrencieList; track currencie){       
                            <li class="relative cursor-default py-2 pr-9 pl-3 text-gray-900 select-none"  (click)="setCurrencieItem(currencie)" id="option-0" role="option" tabindex="-1">
                                <!-- Selected: "font-semibold" -->
                                <span class="block truncate">{{ currencie.title }}</span>
                               @if(selectedCurrencieItemActive && selectedCurrencieItem.id == currencie.id){
                                <span class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600">
                                    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                               }
                            </li>
                        }
                      </ul>
                    </div>
                </div>
                <div>
                    <label for="ec_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Naziv</label>
                    <input type="text" id="ec_title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="title" />
                    @if(ECGroup.get('title')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos naziva je obvezen 
                        </p>
                    }
                </div>
                <div>
                    <label for="ec_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tip</label>
                    <input type="text" id="ec_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="type" />
                    @if(ECGroup.get('type')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos tipa je obvezen 
                        </p>
                    }
                </div>
                <div>
                    <label for="ec_unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enota</label>
                    <input type="text" id="ec_unit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="unit" />
                    @if(ECGroup.get('type')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos unit je obvezen 
                        </p>
                    }
                </div>
                <div>
                    <label for="ec_course" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tečaj</label>
                    <input type="text" id="ec_course" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="course" />
                    @if(ECGroup.get('course')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos tečaja je obvezen 
                        </p>
                    }
                </div>
                <div>
                    <label for="ec_course_value" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tečaj vrednost</label>
                    <input type="text" id="ec_course_value" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="course_value" />
                    @if(ECGroup.get('course_value')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos vrednosti tečaja  je obvezen 
                        </p>
                    }
                </div>
                <div>
                    <label for="ec_status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                    <input type="text" id="ec_status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="status" />
                    @if(ECGroup.get('status')?.errors?.["required"]){
                        <p class="text-red-500">
                            Vnos status je obvezen 
                        </p>
                    }
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button (click)="saveData()" data-modal-hide="static-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Shrani</button>
                <button   (click)="closeUpdateModal()" data-modal-hide="static-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Zavrni</button>
            </div>
        </div>
    </div>
</div>