<div>
    <label (click)="toggleComboBoxMenu(combo_id)" [htmlFor]="combo_id" class="block text-sm/6 font-medium text-gray-900 dark:text-white">{{ combo_title }}</label>
    <div class="relative mt-2">
      <input [value]="getSelectedItem(selectedObject)" [id]="combo_id" type="text" class="dark:bg-gray-700 dark:text-white block w-full rounded-md bg-white py-1.5 pr-12 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" role="combobox" aria-controls="options" aria-expanded="false">
      <button  (click)="toggleComboBoxMenu(combo_id)" type="button" class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-hidden">
        <svg class="size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M10.53 3.47a.75.75 0 0 0-1.06 0L6.22 6.72a.75.75 0 0 0 1.06 1.06L10 5.06l2.72 2.72a.75.75 0 1 0 1.06-1.06l-3.25-3.25Zm-4.31 9.81 3.25 3.25a.75.75 0 0 0 1.06 0l3.25-3.25a.75.75 0 1 0-1.06-1.06L10 14.94l-2.72-2.72a.75.75 0 0 0-1.06 1.06Z" clip-rule="evenodd" />
        </svg>
      </button>
  
      <ul class="hidden absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-gray-700 dark:text-white py-1 text-base ring-1 shadow-lg ring-black/5 focus:outline-hidden sm:text-sm"  [class]="combo_id" id="options" role="listbox">
        @for(item of items; track item){
            <li class="relative cursor-default py-2 pr-9 pl-3 text-gray-900 select-none dark:text-white" (click)="setData(item)"  id="option-0" role="option" tabindex="-1">
               @if(item?.title !== undefined){
                <span class="block truncate">{{item?.title }}</span>
               }@else if(item?.first_name !== undefined || item?.last_name !== undefined) {
                <span class="block truncate">{{item?.first_name }} {{ item?.last_name }} </span>
               }@else {
                <span class="block truncate">{{item?.name }} </span>
               }
                @if(selectedObjectActive && selectedObject.id == item.id){
                    <span class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600">
                        <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                        </svg>
                    </span>
                }
              </li>
        }
        <!-- More items... -->
      </ul>
    </div>
  </div>