<div [formGroup]="ShoppingGroup" class="space-y-4">
    <div class="grid grid-cols-2 gap-4 border-b border-gray-200" >
        <div class="flex items-left space-x-4 p-2">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z" clip-rule="evenodd"/>
            </svg>
            <div class="text-xl dark:text-white text-slate-700">
                Nabava
            </div>                  
        </div>
        <div class="text-right">
            @if(UserInformation?.fk_information_id?.user_type == 'admin') {
                <button (click)="saveData()"  type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7.414A2 2 0 0 0 20.414 6L18 3.586A2 2 0 0 0 16.586 3H5Zm10 11a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7V5h8v2a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                    </svg>
                </button>
            }
        </div>
    </div>
    <div class="grid grid-cols-3 gap-4">
        <div class="space-y-4">
                 <div>
                     <label for="sg_minimum" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Minimalna</label>
                     <input type="text" id="sg_minimum" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="minimum_stock" />
                     @if(ShoppingGroup.get('minimum_stock')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos minimalne zaloge je obvezen !
                         </p>
                     }
                 </div>   
                 <div>
                     <label for="block_stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Blok. Zaloga</label>
                     <input type="text" id="block_stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="block_stock" />
                     @if(ShoppingGroup.get('block_stock')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos blok zaloge je obvezen !
                         </p>
                     }
                 </div> 
                 <div>
                     <label for="singular_stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Signalna Zaloga</label>
                     <input type="text" id="singular_stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="singular_stock" />
                     @if(ShoppingGroup.get('singular_stock')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos signalne zaloge je obvezen !
                         </p>
                     }
                 </div>    
                 <div>
                     <label for="optimal_stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Optimalna Zaloga</label>
                     <input type="text" id="optimal_stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="optimal_stock" />
                     @if(ShoppingGroup.get('optimal_stock')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos optimalna zaloge je obvezen !
                         </p>
                     }
                 </div>             
        </div> 
        <div class="space-y-4">
             <div>
                 <label for="expences_per_unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stroški nabave na enoto</label>
                 <input type="text" id="expences_per_unit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="expences_per_unit" />
                 @if(ShoppingGroup.get('expences_per_unit')?.errors?.["required"]){
                     <p class="text-red-500">
                         Vnos stroški nabave na enoto je obvezen !
                     </p>
                 }
             </div> 
             <div>
                 <label for="expences_per_year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stroški skladiščenja</label>
                 <input type="text" id="expences_per_year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="expences_per_year" />
                 @if(ShoppingGroup.get('expences_per_year')?.errors?.["required"]){
                     <p class="text-red-500">
                         Vnos stroški skladiščenja je obvezen !
                     </p>
                 }
             </div> 
             <div>
                 <label for="average_stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Povprečna vrednost stanja</label>
                 <input type="text" id="average_stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="average_stock" />
                 @if(ShoppingGroup.get('average_stock')?.errors?.["required"]){
                     <p class="text-red-500">
                         Vnos povprečna vrednost stanja je obvezen !
                     </p>
                 }
             </div> 
        </div>
        <div class="space-y-4">
                 <div>
                     <label for="optimum_stock_payment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Optimalna količina naročanja</label>
                     <input type="text" id="optimum_stock_payment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="optimum_stock_payment" />
                     @if(ShoppingGroup.get('optimum_stock_payment')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos optimalne količine naročanja a je obvezen !
                         </p>
                     }
                 </div> 
                 <div>
                     <label for="forseen_stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Predvidena količina nabave na leto</label>
                     <input type="text" id="forseen_stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="forseen_stock" />
                     @if(ShoppingGroup.get('forseen_stock')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos predvidene kolčičine a je obvezen !
                         </p>
                     }
                 </div> 
                 <div>
                     <label for="block_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Blok. Cena</label>
                     <input type="text" id="block_price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  formControlName="block_price" />
                     @if(ShoppingGroup.get('block_price')?.errors?.["required"]){
                         <p class="text-red-500">
                             Vnos blok. cene  je obvezen !
                         </p>
                     }
                 </div> 
        </div>
    </div>
</div>