<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="update_payment_terms_modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-4xl max-h-full mx-auto my-14" [formGroup]="PTGroup">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Posodobi podatke za plačilne pogoje. 
                </h3>
                <button (click)="closePaymentTermModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <label for="pt_ident" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ident</label>
                        <input type="text" id="pt_ident" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="ident"/>
                        @if(PTGroup.get('ident')?.errors?.["required"]){
                            <p class="text-red-500">
                                Vnos identa je obvezen 
                            </p>
                        }
                    </div>
                    <div>
                        <label for="pt_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Naziv</label>
                        <input type="text" id="pt_title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="title"/>
                        @if(PTGroup.get('title')?.errors?.["required"]){
                            <p class="text-red-500">
                                Vnos naziva je obvezen 
                            </p>
                        }
                    </div>
                    <div>
                        <label for="pt_deadline" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rok plačila</label>
                        <input type="date" id="pt_deadline" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="payment_deadline"/>
                        @if(PTGroup.get('payment_deadline')?.errors?.["required"]){
                            <p class="text-red-500">
                                Vnos rok plačila je obvezen 
                            </p>
                        }
                    </div>
                    <div class="">
                        <div class="flex items-center mb-4 w-full">
                            <input id="pt_net_condition" type="checkbox" value="true" formControlName="net_condition" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="pt_net_condition" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Neto pogoj</label>    
                        </div>
                        @if(PTGroup.get('net_condition')?.errors?.["required"]){
                            <div class="text-red-500">
                                Vnos neto pogoj je obvezen 
                            </div>
                        }
                    </div>
                    <div class="">
                        <div class="flex items-center mb-4 w-full">
                            <input id="pt_before_currency" type="checkbox" value="true" formControlName="before_currency" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="pt_before_currency" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pred valuto</label>    
                        </div>
                        @if(PTGroup.get('before_currency')?.errors?.["required"]){
                            <div class="text-red-500">
                                Vnos pred valuto je obvezen 
                            </div>
                        }
                    </div>
                    <div class="">
                        <div class="flex items-center mb-4 w-full">
                            <input id="pt_from_receipt" type="checkbox" value="true" formControlName="from_receipt" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="pt_from_receipt" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Od Prejema</label>    
                        </div>
                        @if(PTGroup.get('from_receipt')?.errors?.["required"]){
                            <div class="text-red-500">
                                Vnos od prejema je obvezen 
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <div class="grid grid-cols-2 gap-4">
                        <label for="pt_days" class="block mb-2 py-1.5 text-sm font-medium text-gray-900 dark:text-white">Dni</label>
                        <div class="text-right">
                            <button (click)="getInputDays()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Shrani v obrazec</button>
                        </div>
                    </div>
                    <div class="grid grid-cols-4 gap-4">
                        @for(index of [0,1,2,3,4]; track index){
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="input_days[index]" id="pt_days input_days" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                        }
                    </div>
                </div>
                <div>
                    <div class="grid grid-cols-2 gap-4">
                        <label for="pt_days" class="block mb-2 py-1.5 text-sm font-medium text-gray-900 dark:text-white">Sconto</label>
                        <div class="text-right">
                            <button (click)="getInputSconto()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Shrani v obrazec</button>
                        </div>
                    </div>
                    <div class="grid grid-cols-4 gap-4">
                        @for(index of [0,1,2,3,4]; track index){
                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="input_sconto[index]" id="pt_days input_days" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                        }
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button (click)="saveData()" data-modal-hide="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Shrani</button>
                <button (click)="closePaymentTermModal()" data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Zavrni</button>
            </div>
        </div>
    </div>
</div>